.navbar-container{
    /* background-color: aqua; */
    height:75px;
}
.website-logo{
    height:70px;
    width:75px;
    margin:5px;
}
.logo-container{
    display: flex;
    flex-direction: row;
}
.logo-text{
    color:blueviolet;
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
}
.nav-header{
    display: flex;
  justify-content: center;
}
.nav-items{
    margin:6px;
    font-size: 18px;
}
.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1110px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.nav-link{
    font-family: 'Roboto';
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  color: #475569;
}
ul li:hover {color: #cc66ff;}
.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    flex: 1;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
}
.logout-desktop-btn {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 13px;
    padding: 6px 16px;
    color: white;
    background-color: #0967d2;
    border: none;
    border-radius: 4px;
    margin-left: 14px;
    cursor: pointer;
    height:30px;
    margin-top: 28px;
  }